name: Release Node Prisma

permissions: {}

on:
  push:
    tags:
      - "node/prisma/v*"

defaults:
  run:
    working-directory: node/prisma

jobs:
  wait-for-ci:
    name: Wait for CI to pass
    runs-on: ubuntu-latest
    steps:
      - uses: lewagon/wait-on-check-action@v1.5.0
        with:
          ref: ${{ github.sha }}
          running-workflow-name: "Wait for CI to pass"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 30

  publish-to-npm:
    name: Publish to npm
    needs: wait-for-ci
    runs-on: ubuntu-latest
    environment:
      name: npm
    permissions:
      id-token: write # required for npm trusted publishing (OIDC)

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Publish to npm
        run: npm publish

  update-changelog:
    needs: publish-to-npm
    uses: ./.github/workflows/update-changelog.yml
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit
