name: Pre-commit

permissions: {}

on:
  workflow_call: {}
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "corretto"

      - uses: actions/setup-node@v6
        with:
          node-version: "20"

      - run: npm ci --prefix node/prisma

      - name: Run pre-commit
        run: uvx pre-commit run --all-files
