name: Pre-commit

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"

      - uses: actions/setup-java@v5
        with:
          java-version: "17"
          distribution: "corretto"

      - name: Run pre-commit
        run: uvx pre-commit run --all-files
