name: Release Tortoise ORM

permissions:
  contents: read

on:
  push:
    tags:
      - 'python/tortoise-orm/v*'

defaults:
  run:
    working-directory: python/tortoise-orm

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@v5

      - name: Build distribution packages
        run: uv build

      - uses: actions/upload-artifact@v4
        with:
          name: python-tortoise-dist
          path: python/tortoise-orm/dist/

  publish-to-testpypi:
    name: Publish to TestPyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/aurora-dsql-tortoise-orm
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-tortoise-dist
          path: dist/

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    name: Publish to PyPI
    needs: publish-to-testpypi
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/aurora-dsql-tortoise-orm
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-tortoise-dist
          path: dist/

      - uses: pypa/gh-action-pypi-publish@release/v1
